<template>
  <div>
    <h2> {{ msg }} </h2>
      <form v-on:submit.prevent="submitForm">
        <div class="row">
          <a>Truth box</a>
          <div class="col-sm-1 mb-3">
            <label for="name">left</label>
            <input type="number" min="0" class="form-control"
                   id="name" placeholder="0"
                   v-model.number="form.truth.left"
                    v-model="configRect1.x">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">top</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.truth.top"
            v-model="configRect1.y">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">right</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.truth.right"
            @change="setWidth1">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">bottom</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.truth.bottom"
            @change="setHeight1">
          </div>
        </div>
        <div class="row">
          <a>Predict Box</a>
          <div class="col-sm-1 mb-3">
            <label for="name">left</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.predict.left"
            v-model="configRect2.x">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">top</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.predict.top"
            v-model="configRect2.y">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">right</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.predict.right"
            @change="setWidth2">
          </div>
          <div class="col-sm-1 mb-3">
            <label for="name">bottom</label>
            <input type="number" min="0" class="form-control" id="name" placeholder="0" v-model.number="form.predict.bottom"
            @change="setHeight2">
          </div>
        </div>
        <div class="form-group">
              <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <p>Result is : {{ result }}</p>
    <v-stage :config="configKonva">
    <v-layer>
      <v-rect :config="configRect1"></v-rect>
      <v-rect :config="configRect2"></v-rect>
    </v-layer>
  </v-stage>
  </div>
</template>

<script>
import axios from 'axios';

const width = window.innerWidth;
const height = window.innerHeight;


export default {
  data() {
    return {
      form: {
        truth: {
          left: '',
          top: '',
          right: '',
          bottom: ''
        },
        predict: {
          left: '',
          top: '',
          right: '',
          bottom: ''
        },
      },
      result: '',
      msg: '',
      configKonva: {
        width: width,
        height: height
      },
      configRect1: {
        x: '',
        y: '',
        width: '',
        height: '',
        fill: "red",
        stroke: "black",
        strokeWidth: 1
      },
       configRect2: {
        x: '',
        y: '',
        width: '',
        height: '',
        fill: "black",
        stroke: "black",
        strokeWidth: 1,
        opacity: 0.5,
      },
    };
  },
  methods: {
    setWidth1(e, x = +e.target.value){
      this.configRect1.width = x - this.configRect1.x
    },
    setHeight1(e, y = +e.target.value){
      this.configRect1.height = y - this.configRect1.y
    },
    setWidth2(e, x = +e.target.value){
      this.configRect2.width = x - this.configRect2.x
    },
    setHeight2(e, y = +e.target.value){
      this.configRect2.height = y - this.configRect2.y
    },
    getMessage() {
      axios.get('/')
        .then((res) => {
          this.msg = res.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    submitForm(){
      axios.post('/',this.form)
          .then((res) => {
            this.result = res.data['result']
          })
          .catch((error) => {
          console.log(error.response.status, error.response)
            this.result = this.result = 'Entered values incorrect.'
      })
    }
  },
  created() {
    this.getMessage();
  },
};
</script>